<Files "generate.php">
    order deny,allow
    allow from 140.112.0.0/16
    allow from 127.0.0.1/8
    deny from all
</Files>
<FilesMatch "^stand[A-H]\.cycamp$">
    order deny,allow
    allow from 140.112.0.0/16
    allow from 127.0.0.1/8
    deny from all
</FilesMatch>
<FilesMatch "^stand[A-H]d\.cycamp$">
    order deny,allow
    allow from 140.112.0.0/16
    allow from 127.0.0.1/8
    deny from all
</FilesMatch>
<FilesMatch "^trash/.*$">
    Order deny,allow
    Deny from all
</FilesMatch>
php_value display_errors on

# standX.cycamp => generate.php?stand=X
RewriteEngine On
RewriteBase /chocolate
RewriteRule ^stand([A-H])d\.cycamp$ generate.php?stand=$1&debug=Y
RewriteRule ^stand([A-H])\.cycamp$ generate.php?stand=$1&debug=N [L]

