#wrapper
{
    font-size: 16px;
    width: 800px;
}

#wrapper, .pages, #buttons
{
    margin: 0px auto;
}

/*
 * http://stackoverflow.com/questions/218760
 * */
.spacer
{
    clear: both;
}

/*
 * http://stackoverflow.com/questions/7457319
 * */
.table_inline
{
    display: inline-table;
    vertical-align: top;
}

.notice
{
    color: red;
}

#buttons-wrapper
{
    clear: both;
}

#banner
{
    font-family: "WenQuanYi Zen Hei", "文泉驛正黑", "Microsoft JhengHei", "微軟正黑體", "dfkai-sb", "標楷體";
    width: 800px;
    text-align: center;
    font-size: 30px;
}

.pages
{
}

.left
{
    float: left;
}

.right
{
    float: right;
}

#notes
{
    width: 800px; /* width will be automatically adjusted according to the page width */
    margin: 20px auto 0px auto;
}

#notes #steps
{
    /* width: 60px; */ /* width wiil calculated as >100px (I don't know why) */
    vertical-align: top;
}

.step.selected
{
    color: blue;
}

#page1 .left, #page5 .left, #page1 .right, #page5 .right
{
    width: 50%;
}

#page1 #messages
{
    width: 800px;
    border: 1px solid black;
}

#page1 #links, #page1 #choices
{
    float: left;
    width: 450px; /*800-292px*/
}

#page1 #like_button
{
    float: right;
    width: 300px;
    height: 1px; /* prevent to change the location of 開始訂購 */
    position: relative;
    top: 0px; /* determined after facebook widgets loaded */
}

#page2 .row
{
    margin: 10px;
}

#choices, #page3 #link
{
    float: clear;
    width: 200px;
    margin: 0px auto;
}

#page3 #link
{
    width: 700px;
}

.hidden
{
    display: none;
}

#page1 .left, #page1 .right
{
    overflow-y: scroll;
    height: 400px;
}

#page2
{
    width: 600px;
}

#page2 #note
{
    width: 600px;
    text-align: center;
}

#page3 #products_wrapper
{
    height: 450px;
    overflow-y: scroll;
}

#page3 #products td
{
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
}

#page3 img
{
    max-height: 60px;
}

#page3 img.btn
{
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#page4, #page4 #pay_location_wrapper
{
    width: 800px;
}

#border
{
    border: 1px solid black;
}

#page5 .caption
{
    font-size: 20px;
    font-weight: bold;
}

#page5 #caption_orderer
{
    color: blue;
}

#page5 #caption_receiver
{
    color: red;
}

#page5 #products2
{
    margin-left: 50px;
}

#orderer_data
{
    border: 1px solid black;
}

#receiver_data
{
    border: 1px solid black;
}

#order_detail
{
    width: 590px;
    border: 1px solid black;
}

#page6
{
    width: 600px;
    border: 1px solid black;
}

#page6 #results
{
    width: 600px;
    font-size: 20px;
}

.emphasized_text
{
    color: red;
    font-size: 130%;
}

#page6 .fields
{
    font-size: 130%;
    font-weight: bold;
    color: blue;
}
