#wrapper
{
    width: 700px;
}

#wrapper, .pages, #buttons
{
    margin: 0px auto;
}

#banner
{
    font-family: "WenQuanYi Zen Hei", "文泉驛正黑", "Microsoft JhengHei", "微軟正黑體", "dfkai-sb", "標楷體";
    width: 700px;
    text-align: center;
    font-size: 30px;
}

.pages
{
    height: 500px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

#notes
{
    width: 700px; /* width will be automatically adjusted according to the page width */
    margin: 20px auto 0px auto;
}

#notes #step
{
    width: 60px; /* width wiil calculated as >100px (I don't know why) */
    vertical-align: top;
}

#page1 .left, #page5 .left, #page1 .right, #page5 .right
{
    width: 50%;
}

#page1 #messages
{
    width: 700px;
    /*height: 400px;
    text-align: left;*/
    border: 1px solid black;
}

#page2 .row
{
    margin: 10px;
}

#choices, #page3 #link
{
    float: clear;
    width: 200px;
    margin: 0px auto;
}

#page3 #link
{
    width: 700px;
}

.hidden
{
    display: none;
}

#page1 .left, #page1 .right
{
    overflow-y: scroll;
    height: 400px;
}

#page2
{
    width: 600px;
}

#page2 #note
{
    width: 600px;
    text-align: center;
}

#page3 #products
{
    height: 450px;
    overflow-y: scroll;
}

#page3 #products td
{
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
}

#page3 img
{
    height: 60px;
}

#page4
{
    width: 500px;
}

#page4 #pay_location_wrapper
{
    position: absolute;
    width: 500px;
    height: 200px;
    top: 150px;
}

#page5 .caption
{
    font-size: 20px;
    font-weight: bold;
}

#page5 #caption_orderer
{
    color: blue;
}

#page5 #caption_receiver
{
    color: red;
}

#orderer_data
{
    border: 1px solid black;
}

#receiver_data
{
    border: 1px solid black;
}

#order_detail
{
    width: 590px;
    height: 400px;
    border: 1px solid black;
}

#page6
{
    width: 500px;
    border: 1px solid black;
}

#page6 #results
{
    text-align: center;
    width: 500px;
    margin-top: 150px;
    font-size: 20px;
}

#page6 #result_ID
{
    font-size: 40px;
    color: red;
    margin: 30px auto 30px auto;
    text-decoration: underline;
}

#page6 #emphasized_text
{
    color: red;
    font-size: 130%;
}

#page6 .fields
{
    font-size: 170%;
    font-weight: bold;
    color: blue;
}
